<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LittleKnight.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79de7065c1b0480553f058c5ea2bddfd:1/1$</string>
            <key>textureFileName</key>
            <string>LittleKnight.png</string>
        </dict>
    </dict>
</plist>
